body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(rgb(98, 0, 255), rgb(255, 255, 255));
}

#reset {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 20px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
#gameboard {
  width: 300px;
  height: 300px;
  background-color: rgb(207, 23, 23);
  display: flex;
  flex-wrap: wrap;
  border-radius: 100%;
}

#info {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#info :hover,
#info :active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

#info :active {
  opacity: 0.5;
}
.square {
  width: 100px;
  height: 100px;
  background-color: white;
  border: solid 2px black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 15px solid red;
  box-sizing: border-box;
}

.cross {
  height: 90;
  width: 90;
  position: relative;
  transform: rotate(45deg);
  border: 15px solid blue;
}

.cross:before,
.cross::after {
  content: "";
  position: absolute;
  background-color: red;
}

.cross:before {
  left: 50%;
  width: 30%;
  margin-left: 15%;
  height: 100%;
}

.cross::after {
  top: 50%;
  height: 30%;
  margin-top: 15%;
  width: 100%;
}
